@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
}

body {
    width: 100%;
    margin: 0 auto 0 auto;
}

.container {
    background-color: #003a08;
    background-image: linear-gradient(160deg, #003a08 0%, #80D0C7 100%);    
    text-align: center;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#toDoContainer {
    list-style-type: none;
}

#switch {
    margin-right: auto;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    color: #FFFB7D;
    margin-bottom: 20px;
}

#inputField {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    background-color: #ffffff;
    color: #003a08;
    letter-spacing: 1px;
    border-color: #ffffff;
    margin-bottom: 10px;
    border: none;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); 
}

#addToDoButton {
    font-size: 28px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #003a08;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); 
}

#addToDoButton:hover {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    color: #FFFB7D;
}

#printToDoButton {
    font-size: 28px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #003a08;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); 
}

#printToDoButton:hover {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    color: #FFFB7D;
}

#switchButton {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #003a08;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); 
}

#switchButton:hover {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    color: #FFFB7D;
}

#clearButton {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #003a08;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); 
}

#clearButton:hover {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    color: #FFFB7D;
}

.p-style {
    font-size: 38px;
    text-align: justify;
    margin-top: 5px;
    color: #003a08;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
}

.p-style:hover {
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
}

@media print {
    body * {
      visibility: hidden;
    }
    #toDoLogo, #toDoLogo *, #toDoContainer, #toDoContainer * {
      visibility: visible;
      color: #000;
      border: none;
    }
  }
